@use '../setup/index' as *;

.about {
    width: 100%;
    min-height: 100vh;
    padding: 6.25rem 2rem;
    background: $clr-p10;

    @include mq-up($bp-large) {
        padding: 6.25rem 5rem;
    }

    &__wrapper {
        @include mq-up($bp-xlarge) {
            flex-direction: row;
        }
    }

    &__text {
        max-width: 60ch;
        font-size: clamp(1rem, 3vw, 1.3rem);
        font-weight: 200;
        letter-spacing: 0.05em;
        line-height: 1.75em;
        color: $clr-p95;
        margin-bottom: 2em;
    }

    .container {
        width: 100%;
        overflow: visible;
    }

    .container--tech {
        position: relative;
        height: 50vh;
        font-size: 4px; //controls the translate values (em) of its children
        background: $clr-p10;

        @include mq-up($bp-xsmall) {
            font-size: 5px;
        }       

        @include mq-up(31.25em) {
            font-size: 7px;
        }

        @include mq-up($bp-small) {
            font-size: 8px;
        }

        @include mq-up(43.75em) {
            font-size: 9px;
        }

        @include mq-up($bp-medium) {
            font-size: 10px;
            margin: 3rem 0;
        }

        @include mq-up($bp-xlarge) {
            height: 100%;
            margin: 0;
        }

        .tech-wrapper {
            position: absolute;
            top: 30%;
            left: 50%;
            width: 20vw;
            height: 17.5vw;
            max-width: 160px;
            max-height: 140px;
            display: grid;
            place-items: center;
            clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
            background: #0087c8;
            transform-origin: center center;
            transition: transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58);

            @include mq-up($bp-xlarge) {
                top: 40%;
                left: 55%;
            }
        }

        .polygon {
            width: calc(20vw - 2px);
            height: calc(17.5vw - 2px);
            max-width: 158px;
            max-height: 138px;
            display: grid;
            place-items: center;
            clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
            background: #15181e;
        }

        .w1 {
            transform: translate(calc(-24em - 1em), -11em);
        }
        .w2 {
            transform: translate(-8em, -11em);
        }
        .w3 {
            transform: translate(calc(8em + 1em), -11em);
        }
        .w4 {
            transform: translate(calc(-32em - 1.5em));
        }
        .w5 {
            transform: translate(calc(-16em - 0.5em));
        }
        .w6 {
            transform: translate(17.5em);
        }
        .w7 {
            transform: translate(calc(-24em - 1em), 11em);
        }
        .w8 {
            transform: translate(-8em, 11em);
        }
        .w9 {
            transform: translate(calc(8em + 1em), 11em);
        }
        .w10 {
            transform: translate(0.5em);
        }

        @include mq-up($bp-large) {
            .w1:hover {
                transform: translate(calc(-24em - 1em), -11em) scale(1.4);
            }
            .w2:hover {
                transform: translate(-8em, -11em) scale(1.4);
            }
            .w3:hover {
                transform: translate(calc(8em + 1em), -11em) scale(1.4);
            }
            .w4:hover {
                transform: translate(calc(-32em - 1.5em)) scale(1.4);
            }
            .w5:hover {
                transform: translate(calc(-16em - 0.5em)) scale(1.4);
            }
            .w6:hover {
                transform: translate(17.5em) scale(1.4);
            }
            .w7:hover {
                transform: translate(calc(-24em - 1em), 11em) scale(1.4);
            }
            .w8:hover {
                transform: translate(-8em, 11em) scale(1.4);
            }
            .w9:hover {
                transform: translate(calc(8em + 1em), 11em) scale(1.4);
            }
            .w10:hover {
                transform: translate(0.5em) scale(1.4);
            }
        }

        p {
            font-size: clamp(0.8rem, 3vw, 1.5rem);
            color: $clr-p95;
        }
    }

    .fz-large {
        font-size: 12px;
    }

    &__softskills {
        width: 100%;

        &__heading {
            font-size: clamp(1.5rem, 4vw, 3.25rem);
            font-weight: 100;
            color: $clr-p39;
            margin-bottom: 3rem;

            @include mq-up($bp-xlarge) {
                margin: 3rem 0;
            }
        }

        &__cards-container {
            @include mq-up(68.75em) {
                display: flex;
            }
            .softskills__card {
                width: 100%;
                padding: 2rem;
                border: 1px solid $clr-p26;
                border-radius: 5px;
                margin-bottom: 2rem;
                color: $clr-p95;

                @include mq-up($bp-xlarge) {
                    padding: 3rem;
                }

                &--title {
                    font-size: clamp(1.3rem, 3vw, 1.6rem);
                    font-weight: 200;
                    letter-spacing: 0.05em;
                    margin-bottom: 2rem;
                }

                &--text {
                    font-size: clamp(1rem, 3vw, 1.2rem);
                    font-weight: 200;
                    line-height: 1.75em;
                    letter-spacing: 0.05em;
                }
            }

            .softskills__card + .softskills__card {
                @include mq-up($bp-large) {
                    margin-left: 2rem;
                }

                @include mq-up($bp-xlarge) {
                    margin-left: 6rem;
                }
            }
        }
    }
}
