@use '../setup/index' as *;

.contact {
    width: 100%;
    min-height: 100vh;
    padding: 6.25rem 2rem;
    background: $clr-p10;

    @include mq-up($bp-large) {
        padding: 6.25rem 5rem;
    }

    &__title {
        font-size: clamp(2.8rem, 5vw, 6.25rem);
        font-weight: 100;
        text-transform: uppercase;
        @include text-gradient($gradient-p);
        margin-bottom: 3rem;
    }

    .container {
        width: 100%;

        @include mq-up($bp-large) {
            flex-direction: row;
        }
    }

    .form-container {
        width: 100%;
    }

    form {
        .wrapper {
            width: 100%;
            
            @include mq-up($bp-large) {
                flex-direction: row;
                gap: 1rem;
            }
        }

        .form-group {
            width: 100%;
            margin-bottom: 1rem;

            label {
                display: none;
            }

            input,
            textarea {
                width: 100%;
                background: $clr-p10;
                border: 1px solid $clr-p26;
                border-radius: 5px;
                color: $clr-p95;
            }

            input {
                height: 3.125rem;
                padding-left: 1rem;
            }

            textarea {
                padding: 1rem;
                resize: none;
            }
        }
        button {
            background: $clr-p10;
            border: 1px solid $clr-p26;
            border-radius: 5px;
            color: $clr-p95;
            padding: 0.5em 2.5em;
            text-transform: uppercase;
        }
    }

    .social-container {
        width: 100%;        
        justify-content: space-between;
        margin-top: 8rem;

        @include mq-up($bp-large) {
            flex-direction: column;
            margin-top: 0;
        }

        .linkbox-wrapper {
            width: 7.5rem;
            height: 100%;
            font-size: 30px;
            perspective: 700px;
            perspective-origin: 50% 50%;
            transform-style: preserve-3d;
            transition: perspective-origin 0.25s ease;
            padding-top: 3rem;
            transform: translateY(-3rem);

            @include mq-up($bp-medium) {
                font-size: 40px;
            }

            @include mq-up($bp-large) {
                font-size: 50px;
            }

            .scene {
                position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
            }

            .linkbox {
                position: absolute;
                width: 2em;
                height: 2em;
                top: 50%;
                left: 50%;
                transform-style: preserve-3d;
                transform: translate(-50%, -50%);
            }

            .side {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#0087c8, #004d87);
                display: grid;
                place-items: center;
                transform-origin: center;
                box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.5);
            }

            .front {
                transform: translateZ(1em);
            }
            .back {
                transform: translateZ(-1em) rotateY(180deg);
                backface-visibility: hidden;
            }
            .left {
                transform: translateX(-1em) rotateY(-90deg);
            }
            .right {
                transform: translateX(1em) rotateY(90deg);
            }
            .top {
                transform: translateY(-1em) rotateX(90deg);
                background: #0087c8;
            }
        }

        .linkbox-wrapper:last-child {
            @include mq-up($bp-large) {
                padding-bottom: 2rem;                
            }
        }

        .linkbox-wrapper:hover {
            perspective-origin: 50% 10%;
        }

        .linkbox-wrapper:hover .scene {
            animation: 10s linear infinite rotateBox;
        }

        @keyframes rotateBox {
            to {
                transform: rotateY(360deg);
            }
        }
    }
}
