@use '../setup/index' as *;

.portfolio {
    width: 100%;
    min-height: 100vh;
    padding: 6.25rem 2rem;
    background: $clr-p10;

    @include mq-up($bp-large) {
        padding: 6.25rem 5rem;
    }

    &__title {
        font-size: clamp(2.8rem, 5vw, 6.25rem);
        font-weight: 100;
        text-transform: uppercase;
        @include text-gradient($gradient-p);
        margin-bottom: 3rem;
    }

    .container {
        width: 100%;
        

        // @include mq-up($bp-medium) {
        //     padding: 0 3rem;
        // }
        @include mq-up(75em) {
            flex-direction: row;
        }

        @include mq-up($bp-xlarge) {
            justify-content: space-evenly;
        }
    }

    .card {
        width: 100%;
        max-width: 31.25rem;
        min-height: 40rem;
        padding: 2rem 1rem;
        margin-bottom: 5rem;
        border: 1px solid $clr-p26;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title,
        &__tech-description {
            font-size: 1.2rem;
            font-weight: 300;
            color: $clr-p95;
            text-align: center;
            margin-bottom: 1rem;
        }

        &__img-container {
            position: relative;
            width: 100%;
            min-height: 18.75rem; 

            .img--swap {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                border-radius: 5px;
                box-shadow: 5px 5px 30px 10px rgba(black, 0.75);
                overflow: hidden;
                //transition: transform 0.5s cubic-bezier(0.86, -0.47, 0.36, 1.46);
            }

            .img--1 {
                z-index: 2;
                transform-origin: top left;
                transform: scale(0.75) translate(-68.5%, -68.5%);
            }

            .img--1:hover {
                transform: scale(1.05) translate(-50%, -50%);
            }

            .img--2 {
                z-index: 1;
                transform: scale(0.75) translate(-65%, -65%);
                transform-origin: bottom right;
            }

            
        }

        &__img-container--rotate {
            position: relative;
            width: 100%;
            min-height: 35rem;
            perspective: 1000px;

            .img--rotate {                
                position: absolute;
                width: 75%;
                max-width: 15rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51);
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 5px 5px 30px 10px rgba(black, 0.2);

                @include mq-up($bp-small) {
                    width: 50%;
                }
            }

            .img--back {
                backface-visibility: hidden;
                transform: translate(-50%, -50%) rotateY(-180deg);
            }
        }

        &__img-container--rotate:hover .img--front {
            transform: translate(-50%, -50%) rotateY(180deg);
        }

        &__img-container--rotate:hover .img--back {
            transform: translate(-50%, -50%) rotateY(0);
        }

        &__links-container {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;

            @include mq-up($bp-small) {
                flex-direction: row;
            }
        }

        .wrapper {
            position: relative;
            margin-bottom: 2rem;

            @include mq-up($bp-small) {
                margin: 0;
            }
        }

        .btn-border {
            visibility: hidden;
            
            @include mq-up($bp-xlarge) {
                visibility: visible;
                position: absolute;
                top: 25%;
                left: 0;
                width: 0px;
                height: 50%;
                background: transparent;
                border: 1px solid #e5f7ff;
                transform: translateY(0) rotate(90deg);
                transform-origin: center;
                z-index: 1;
            }
        }

        &__link {            
            position: relative;
            display: block;
            min-width: 11rem;
            padding: 1em 1.5em;
            text-transform: uppercase;
            text-align: center;
            color: $clr-p95;
            z-index: 2;
            border: 1px solid $clr-p39;
            border-radius: 5px;


            @include mq-up($bp-xlarge) {
                border: none;
            }
        }

        .wrapper:hover .btn-border {
            border-color: $clr-p39;
            border-radius: 5px;
        }
    }

    

    .card--tall {      

        @include mq-up($bp-medium) {
            min-height: 53.125rem;
            
        }
    }
}
