.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 10px;
  scrollbar-color: rgba(63, 72, 90, 0.2) #15181e;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #15181e;
}

body::-webkit-scrollbar-thumb:vertical {
  background: rgba(63, 72, 90, 0.2);
}

a[class],
a[class]:visited,
a[class]:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.nav {
  position: fixed;
  width: 100vw;
  max-width: 160rem;
  height: 6.25rem;
  padding: 0 2rem;
  font-family: "Michroma", sans-serif;
  background-color: #15181e;
  z-index: 100;
}
@media only screen and (min-width: 62.5em) {
  .nav {
    padding: 0 5rem;
  }
}
.nav svg {
  width: 6.25rem;
}
.nav__burger {
  background: none;
  border: none;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}
@media only screen and (min-width: 50em) {
  .nav__burger {
    display: none;
  }
}
.nav__burger--top {
  width: 50%;
  height: 1px;
  background: #0085c7;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.nav__burger--center {
  width: 100%;
  height: 1px;
  background: #0085c7;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.nav__burger--bottom {
  width: 50%;
  height: 1px;
  background: #0085c7;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.nav .btn-active .nav__burger--top {
  -webkit-transform: translate(5px, 4px) rotate(45deg);
          transform: translate(5px, 4px) rotate(45deg);
}
.nav .btn-active .nav__burger--center {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav .btn-active .nav__burger--bottom {
  -webkit-transform: translate(-4px, -4px) rotate(45deg);
          transform: translate(-4px, -4px) rotate(45deg);
}
.nav__links {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, transparent), color-stop(15%, rgba(21, 24, 30, 0.9)), color-stop(95%, #15181e));
  background-image: linear-gradient(90deg, transparent 5%, rgba(21, 24, 30, 0.9) 15%, #15181e 95%);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.17, 0.67, 0.26, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.17, 0.67, 0.26, 1);
  transition: transform 0.75s cubic-bezier(0.17, 0.67, 0.26, 1);
  transition: transform 0.75s cubic-bezier(0.17, 0.67, 0.26, 1), -webkit-transform 0.75s cubic-bezier(0.17, 0.67, 0.26, 1);
}
@media only screen and (min-width: 50em) {
  .nav__links {
    all: unset;
    min-width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav__links li {
  margin-top: 3rem;
  position: relative;
}
@media only screen and (min-width: 50em) {
  .nav__links li {
    margin-top: 0;
    list-style: none;
    margin-left: 2rem;
  }
}
.nav__links li .nav__link {
  font-size: 1.6rem;
  font-weight: 100;
  color: #e6f7ff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  cursor: pointer;
}
@media only screen and (min-width: 50em) {
  .nav__links li .nav__link {
    font-size: 1rem;
  }
}
.nav__links li .nav__link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0085c7;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.nav__links li .nav__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav__links li .nav__link--active {
  color: #0085c7;
}
.nav__links li .border {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0085c7;
  opacity: 0;
}
.nav .nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  min-height: 100vh;
  padding: 6.25rem 2rem;
  background: #15181e;
  position: relative;
}
@media only screen and (min-width: 50em) {
  .hero {
    padding: 6.25rem 5rem;
  }
}
.hero__background {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__background span {
  position: absolute;
  font-size: 5rem;
  font-weight: 900;
  color: #2a303c;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
@media only screen and (min-width: 62.5em) {
  .hero__background span {
    font-size: 10rem;
  }
}
.hero__background .tech2 {
  top: 0;
  right: 0;
}
.hero__background .tech3 {
  bottom: 0;
  left: 0;
}
.hero__background .tech4 {
  top: 30%;
  left: 30%;
}
.hero__background .tech5 {
  bottom: 20%;
  left: 10%;
}
.hero__background .tech6 {
  top: 50%;
  left: 50%;
}
.hero__background .tech:hover {
  opacity: 1 !important;
}
.hero__header h1 {
  font-size: clamp(0.9rem, 3vw, 3rem);
}
.hero__header .first-name, .hero__header .last-name {
  display: block;
  font-weight: 900;
  line-height: 0.75em;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099e6), to(#003a66));
  background: linear-gradient(#0099e6, #003a66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__header .first-name {
  font-size: 3em;
  margin-left: 0.25em;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}
.hero__header .last-name {
  text-transform: uppercase;
  font-size: 4.5em;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}
.hero__header .sub-title {
  position: relative;
  font-family: "Michroma", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #e6f7ff;
  font-weight: 100;
}
.hero__header .overlay {
  position: absolute;
  top: 0;
  left: -30%;
  width: 140%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, #15181e));
  background-image: linear-gradient(90deg, transparent 0%, #15181e 20%);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.hero__scroll-icon {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2rem;
  height: 3rem;
  border: 1px solid #0085c7;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.hero__scroll-point {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 6px;
  height: 6px;
  background: #0085c7;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  -webkit-animation: 1s infinite alternate moveScrollPoint;
          animation: 1s infinite alternate moveScrollPoint;
}
@-webkit-keyframes moveScrollPoint {
  to {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}
@keyframes moveScrollPoint {
  to {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}

.portfolio {
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem 2rem 0rem 2rem;
  background: #15181e;
}
@media only screen and (min-width: 62.5em) {
  .portfolio {
    padding: 6.25rem 5rem;
  }
}
.portfolio__title {
  font-size: clamp(2.8rem, 5vw, 6.25rem);
  font-weight: 100;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099e6), to(#003a66));
  background: linear-gradient(#0099e6, #003a66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}
.portfolio .container {
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .portfolio .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 90em) {
  .portfolio .container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.portfolio .card {
  width: 100%;
  max-width: 31.25rem;
  min-height: 40rem;
  padding: 2rem 1rem;
  margin-bottom: 5rem;
  border: 1px solid #004b85;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio .card__title, .portfolio .card__tech-description {
  font-size: 1.2rem;
  font-weight: 200;
  color: #e6f7ff;
  text-align: center;
  margin-bottom: 1rem;
}
.portfolio .card__title--quiz-app {
  margin: 1.3em 0;
}
.portfolio .card__img-container--rotate {
  position: relative;
  width: 100%;
  min-height: 35rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.portfolio .card__img-container--rotate .img--acr {
  width: 100%;
}
.portfolio .card__img-container--rotate .img--up {
  width: 75%;
  max-width: 15rem;
}
@media only screen and (min-width: 37.5em) {
  .portfolio .card__img-container--rotate .img--up {
    width: 50%;
  }
}
.portfolio .card__img-container--rotate .img--rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51);
  transition: -webkit-transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51);
  transition: transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51);
  transition: transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51), -webkit-transform 1s cubic-bezier(0.89, 0.06, 0.52, 1.51);
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.2);
}
.portfolio .card__img-container--rotate .img--back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%) rotateY(-180deg);
          transform: translate(-50%, -50%) rotateY(-180deg);
}
.portfolio .card__img-container--rotate:hover .img--front {
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
          transform: translate(-50%, -50%) rotateY(180deg);
}
.portfolio .card__img-container--rotate:hover .img--back {
  -webkit-transform: translate(-50%, -50%) rotateY(0);
          transform: translate(-50%, -50%) rotateY(0);
}
.portfolio .card__img-container--small {
  min-height: 12rem;
}
.portfolio .card__links-container {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 37.5em) {
  .portfolio .card__links-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.portfolio .card .wrapper {
  position: relative;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .portfolio .card .wrapper {
    margin: 0;
  }
}
.portfolio .card .btn-border {
  visibility: hidden;
}
@media only screen and (min-width: 90em) {
  .portfolio .card .btn-border {
    visibility: visible;
    position: absolute;
    top: 25%;
    left: 0;
    width: 0px;
    height: 50%;
    background: transparent;
    border: 1px solid #e5f7ff;
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    z-index: 1;
  }
}
.portfolio .card__link {
  position: relative;
  display: block;
  min-width: 11rem;
  padding: 1em 1.5em;
  font-size: 0.9rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #e6f7ff;
  z-index: 2;
  border: 1px solid #004b85;
  border-radius: 5px;
}
@media only screen and (min-width: 75em) {
  .portfolio .card__link {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 90em) {
  .portfolio .card__link {
    border: none;
  }
}
.portfolio .card .wrapper:hover .btn-border {
  border-color: #004b85;
  border-radius: 5px;
}
@media only screen and (min-width: 50em) {
  .portfolio .card--tall {
    min-height: 53.125rem;
  }
}

.about {
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem 2rem;
  background: #15181e;
}
@media only screen and (min-width: 62.5em) {
  .about {
    padding: 6.25rem 5rem;
  }
}
@media only screen and (min-width: 90em) {
  .about__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about__title {
  font-size: clamp(2.8rem, 5vw, 6.25rem);
  font-weight: 100;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099e6), to(#003a66));
  background: linear-gradient(#0099e6, #003a66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}
.about__text {
  max-width: 60ch;
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: 200;
  letter-spacing: 0.05em;
  line-height: 1.75em;
  color: #e6f7ff;
  margin-bottom: 2em;
}
.about .container {
  width: 100%;
}
.about .container--tech {
  position: relative;
  height: 50vh;
  font-size: 4px;
  background: #15181e;
}
@media only screen and (min-width: 23.125em) {
  .about .container--tech {
    font-size: 5px;
  }
}
@media only screen and (min-width: 25.625em) {
  .about .container--tech {
    font-size: 6px;
  }
}
@media only screen and (min-width: 31.25em) {
  .about .container--tech {
    font-size: 7px;
  }
}
@media only screen and (min-width: 37.5em) {
  .about .container--tech {
    font-size: 8px;
  }
}
@media only screen and (min-width: 43.75em) {
  .about .container--tech {
    font-size: 9px;
  }
}
@media only screen and (min-width: 50em) {
  .about .container--tech {
    font-size: 10px;
  }
}
@media only screen and (min-width: 90em) {
  .about .container--tech {
    height: 100%;
  }
}
.about .container--tech .tech-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 20vw;
  height: 17.5vw;
  max-width: 160px;
  max-height: 140px;
  display: grid;
  place-items: center;
  -webkit-clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
          clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  background: #0087c8;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58);
  transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58);
  transition: transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58);
  transition: transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58), -webkit-transform 0.5s cubic-bezier(0.25, 0.12, 0.34, 1.58);
}
@media only screen and (min-width: 90em) {
  .about .container--tech .tech-wrapper {
    top: 40%;
    left: 55%;
  }
}
.about .container--tech .polygon {
  width: calc(20vw - 2px);
  height: calc(17.5vw - 2px);
  max-width: 158px;
  max-height: 138px;
  display: grid;
  place-items: center;
  -webkit-clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
          clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  background: #15181e;
}
.about .container--tech .w1 {
  -webkit-transform: translate(calc(-24em - 1em), -11em);
          transform: translate(calc(-24em - 1em), -11em);
}
.about .container--tech .w2 {
  -webkit-transform: translate(-8em, -11em);
          transform: translate(-8em, -11em);
}
.about .container--tech .w3 {
  -webkit-transform: translate(calc(8em + 1em), -11em);
          transform: translate(calc(8em + 1em), -11em);
}
.about .container--tech .w4 {
  -webkit-transform: translate(calc(-32em - 1.5em));
          transform: translate(calc(-32em - 1.5em));
}
.about .container--tech .w5 {
  -webkit-transform: translate(calc(-16em - 0.5em));
          transform: translate(calc(-16em - 0.5em));
}
.about .container--tech .w6 {
  -webkit-transform: translate(17.5em);
          transform: translate(17.5em);
}
.about .container--tech .w7 {
  -webkit-transform: translate(calc(-24em - 1em), 11em);
          transform: translate(calc(-24em - 1em), 11em);
}
.about .container--tech .w8 {
  -webkit-transform: translate(-8em, 11em);
          transform: translate(-8em, 11em);
}
.about .container--tech .w9 {
  -webkit-transform: translate(calc(8em + 1em), 11em);
          transform: translate(calc(8em + 1em), 11em);
}
.about .container--tech .w10 {
  -webkit-transform: translate(0.5em);
          transform: translate(0.5em);
}
@media only screen and (min-width: 62.5em) {
  .about .container--tech .w1:hover {
    -webkit-transform: translate(calc(-24em - 1em), -11em) scale(1.4);
            transform: translate(calc(-24em - 1em), -11em) scale(1.4);
  }
  .about .container--tech .w2:hover {
    -webkit-transform: translate(-8em, -11em) scale(1.4);
            transform: translate(-8em, -11em) scale(1.4);
  }
  .about .container--tech .w3:hover {
    -webkit-transform: translate(calc(8em + 1em), -11em) scale(1.4);
            transform: translate(calc(8em + 1em), -11em) scale(1.4);
  }
  .about .container--tech .w4:hover {
    -webkit-transform: translate(calc(-32em - 1.5em)) scale(1.4);
            transform: translate(calc(-32em - 1.5em)) scale(1.4);
  }
  .about .container--tech .w5:hover {
    -webkit-transform: translate(calc(-16em - 0.5em)) scale(1.4);
            transform: translate(calc(-16em - 0.5em)) scale(1.4);
  }
  .about .container--tech .w6:hover {
    -webkit-transform: translate(17.5em) scale(1.4);
            transform: translate(17.5em) scale(1.4);
  }
  .about .container--tech .w7:hover {
    -webkit-transform: translate(calc(-24em - 1em), 11em) scale(1.4);
            transform: translate(calc(-24em - 1em), 11em) scale(1.4);
  }
  .about .container--tech .w8:hover {
    -webkit-transform: translate(-8em, 11em) scale(1.4);
            transform: translate(-8em, 11em) scale(1.4);
  }
  .about .container--tech .w9:hover {
    -webkit-transform: translate(calc(8em + 1em), 11em) scale(1.4);
            transform: translate(calc(8em + 1em), 11em) scale(1.4);
  }
  .about .container--tech .w10:hover {
    -webkit-transform: translate(0.5em) scale(1.4);
            transform: translate(0.5em) scale(1.4);
  }
}
.about .container--tech p {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  color: #e6f7ff;
}
.about .fz-large {
  font-size: 12px;
}
.about__softskills {
  width: 100%;
}
.about__softskills__heading {
  font-size: clamp(1.5rem, 4vw, 3.25rem);
  font-weight: 100;
  color: #0085c7;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 90em) {
  .about__softskills__heading {
    margin: 3rem 0;
  }
}
@media only screen and (min-width: 90em) {
  .about__softskills__cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about__softskills__cards-container .softskills__card {
  width: 100%;
  padding: 2rem;
  border: 1px solid #004b85;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: #e6f7ff;
}
@media only screen and (min-width: 90em) {
  .about__softskills__cards-container .softskills__card {
    padding: 3rem;
  }
}
.about__softskills__cards-container .softskills__card--title {
  font-size: clamp(1.3rem, 3vw, 1.6rem);
  font-weight: 200;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}
.about__softskills__cards-container .softskills__card--text {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 200;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 90em) {
  .about__softskills__cards-container .softskills__card + .softskills__card {
    margin-left: 6rem;
  }
}

.contact {
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem 2rem;
  background: #15181e;
}
@media only screen and (min-width: 62.5em) {
  .contact {
    padding: 6.25rem 5rem;
  }
}
.contact__title {
  font-size: clamp(2.8rem, 5vw, 6.25rem);
  font-weight: 100;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099e6), to(#003a66));
  background: linear-gradient(#0099e6, #003a66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}
.contact .container {
  width: 100%;
}
@media only screen and (min-width: 62.5em) {
  .contact .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contact .form-container {
  width: 100%;
}
.contact form .wrapper {
  width: 100%;
}
@media only screen and (min-width: 62.5em) {
  .contact form .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}
.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: #e6f7ff;
  opacity: 0.75;
  font-weight: 200;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: #e6f7ff;
  opacity: 0.75;
  font-weight: 200;
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: #e6f7ff;
  opacity: 0.75;
  font-weight: 200;
}
.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  color: #e6f7ff;
  opacity: 0.75;
  font-weight: 200;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  color: #e6f7ff;
  opacity: 0.75;
  font-weight: 200;
}
.contact form .form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.contact form .form-group label {
  display: none;
}
.contact form .form-group input,
.contact form .form-group textarea {
  width: 100%;
  background: #15181e;
  border: 1px solid #004b85;
  border-radius: 5px;
  color: #e6f7ff;
}
.contact form .form-group input {
  height: 3.125rem;
  padding-left: 1rem;
}
.contact form .form-group textarea {
  padding: 1rem;
  resize: none;
}
.contact form .wrapper--submit {
  position: relative;
}
.contact form button {
  background: #15181e;
  border: 1px solid #004b85;
  border-radius: 5px;
  color: #e6f7ff;
  padding: 0.5em 2.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: border-color 0.5s ease, opacity 0.25s ease-out;
  transition: border-color 0.5s ease, opacity 0.25s ease-out;
}
.contact form button:hover,
.contact form button:focus {
  border-color: #0085c7;
}
.contact form .btn--success {
  opacity: 0;
}
.contact form .submit-response {
  color: #e6f7ff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  z-index: -1;
}
.contact form .submit-response--active {
  z-index: 0;
  opacity: 1;
}
.contact .social-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
}
@media only screen and (min-width: 62.5em) {
  .contact .social-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}
.contact .social-container .linkbox-wrapper {
  width: 7.5rem;
  height: 100%;
  font-size: 30px;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-perspective-origin 0.25s ease;
  transition: -webkit-perspective-origin 0.25s ease;
  transition: perspective-origin 0.25s ease;
  transition: perspective-origin 0.25s ease, -webkit-perspective-origin 0.25s ease;
  padding-top: 3rem;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}
@media only screen and (min-width: 50em) {
  .contact .social-container .linkbox-wrapper {
    font-size: 40px;
  }
}
@media only screen and (min-width: 62.5em) {
  .contact .social-container .linkbox-wrapper {
    font-size: 50px;
  }
}
.contact .social-container .linkbox-wrapper .scene {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.contact .social-container .linkbox-wrapper .linkbox {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact .social-container .linkbox-wrapper .side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0087c8), to(#004d87));
  background-image: linear-gradient(#0087c8, #004d87);
  display: grid;
  place-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.5);
}
.contact .social-container .linkbox-wrapper .front {
  -webkit-transform: translateZ(1em);
          transform: translateZ(1em);
}
.contact .social-container .linkbox-wrapper .back {
  -webkit-transform: translateZ(-1em) rotateY(180deg);
          transform: translateZ(-1em) rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.contact .social-container .linkbox-wrapper .left {
  -webkit-transform: translateX(-1em) rotateY(-90deg);
          transform: translateX(-1em) rotateY(-90deg);
}
.contact .social-container .linkbox-wrapper .right {
  -webkit-transform: translateX(1em) rotateY(90deg);
          transform: translateX(1em) rotateY(90deg);
}
.contact .social-container .linkbox-wrapper .top {
  -webkit-transform: translateY(-1em) rotateX(90deg);
          transform: translateY(-1em) rotateX(90deg);
  background: #0087c8;
}
@media only screen and (min-width: 62.5em) {
  .contact .social-container .linkbox-wrapper:last-child {
    padding-bottom: 2rem;
  }
}
.contact .social-container .linkbox-wrapper:hover {
  -webkit-perspective-origin: 50% 10%;
          perspective-origin: 50% 10%;
}
.contact .social-container .linkbox-wrapper:hover .scene {
  -webkit-animation: 10s linear infinite rotateBox;
          animation: 10s linear infinite rotateBox;
}
@-webkit-keyframes rotateBox {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotateBox {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

html {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100vw;
  max-width: 160rem;
  overflow-x: hidden;
}